*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body{
  background-color: black;
  overflow-x: hidden;
}

#title1, #title2, #title3{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-family: "Roboto", serif;
    font-size: 1rem;
}



#gift-wrapper{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3d9d7;
    z-index: 10;
}

#gift-holder{
    display: flex;
    justify-content: center;
    align-items: center;

}

#gift{
    cursor: pointer;
    width: 15vw;
    height: auto;
    min-width: 100px;
    min-height: 100px;
    animation: giftShake 5s linear infinite alternate;
}

#top-banner{
  display: flex;
  justify-content: center;
  align-items: center;
}

#timestamp{
  color: white;
}


.responsive{
  width: 100%;
  height: auto;

}

#date-div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.separator-div{
  height: 4px;
  border-radius: 2px;
  background-color: #E26767;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 90vw;
}

#separator-holder{
  display: flex;
  justify-content: center;
  align-items: center;
}

#date-p{
  color: black;
  font-size: 1rem;
}

#description{
  max-width: 90vw;

}
#description-div{
  margin-left: 20px;
  margin-right: 20px;
}

.light-holder{
  background-color: #D9D9D9;
  padding: 10px;
}

.black-holder{
    height: 2rem;
    background-color: black;
}

#footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
}

#img-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1000px) {
  .responsive {
    width: 50%;
  }
}

@keyframes giftShake {
    0%   {transform: rotate(15deg);}
    25%  {transform: rotate(-15deg);}
    50%  {transform: rotate(15deg);}
    100% {transform: rotate(-15deg);}
  }